* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Website {
  margin: 20px 24px 4px;
}

header,
section {
  margin-bottom: 32px;
}

h1,
h2 {
  margin-bottom: 10px;
}

nav ul {
  display: flex;
  list-style: none;
}

a {
  color: #05aef1;
  text-decoration: none;
  margin-left: 10px;
}

a:hover {
  color: #72c1f3;
}

.Our-Services ul {
  padding-left: 40px;
}